# ESPN Fantasy Baseball API Credentials
# Get these from your browser cookies when logged into ESPN Fantasy Baseball
LEAGUE_ID=762334118
SEASON=2025
SWID={ECFDB731-1DA0-4215-BDB7-311DA0B21571}
ESPN_S2=AEBmoL7dGUIu%2BIWyI%2FT7IL1%2B3p12MyhnYNjI%2BKnfVeGwgjBT5YhukFizRTGzvZHrLOoz2017lzBjMgWe54EzcE4fv4T%2BaoGNNcocQVMFF0NO3pCV8ZBjqGs%2Fd672ng0iaFIu7pbjsUcOFl4z5DhzeWTQMwNK3RSrSrruNOqCi63CbqNTwN14VkUupqnyL7v3leGMftsjd6IBtezPWpnIUrCeOOm2P2GdlUEQwgkAFLj6ZLOe3fwkwpE5WslAUmb%2FbDnwD2E%2FMsWLuJNimDjr5Nj%2B4hsRWS6rzertV3%2FBuiwNXQ%3D%3D


# App Configuration
DEBUG=False
LOG_LEVEL=INFO
